@model Account

<section id="page-title" class="page-title page-title-layout7" style="background-color:black; height:110px">
</section>
<section id="ShoppinCcart" class="shop shopping-cart pb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="get-cart">
                        </tbody>
                        <tfoot>
                            <tr class="cart__product-action">
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 cart__product-action-content">
                                            <div class="d-flex flex-wrap">
                                                <input type="text" id="discount-name" class="form-control mb-10 mr-10" placeholder="Coupon Code">
                                                <button onclick="applyCoupon()" class="btn btn__primary mb-10">
                                                    Apply Coupon
                                                </button>
                                            </div>
                                            <div id="discount-codes-number"></div>
                                        </div>
                                    </div>
                                    <div id="discount-codes"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.cart-table -->
            </div><!-- /.col-lg-12 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="cart__shiping">
                    <h6>Information:</h6>
                    <form action="/account/updateaccount" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="firstname" class="form-control" placeholder="First Name" value="@Model.FirstName">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="lastname" class="form-control" placeholder="Last Name" value="@Model.LastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <input type="text" name="phone" class="form-control" placeholder="Phone" value="@Model.Phone" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <input type="text" name="Address" class="form-control" placeholder="Address" value="@Model.Address" required>
                            </div>
                        </div>
                        <input type="hidden" name="email" class="form-control" value="@Model.Email">
                        <input type="hidden" name="DisplayName" class="form-control" value="@Model.DisplayName">
                        <input type="hidden" name="Introduction" class="form-control" value="@Model.Introduction">
                        <input type="hidden" name="Image" class="form-control" value="@Model.Image">
                        <input type="hidden" name="placeorder" class="form-control" value="1">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div>
                                    <button type="submit" class="btn btn__primary">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- /.cart__shiping -->
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="cart__total-amount">
                    <h6>Cart Totals :</h6>
                    <ul class="list-unstyled mb-0" id="get-cart-total">
                    </ul>
                </div><!-- /.cart__total-amount -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.shopping-cart -->
@section Scripts {
    <script>
        function loadCartProducts(productName, act) {
            $.ajax({
                url: "/cart/GetCart?accId=" + @ViewBag.accId + "&productName=" + productName + "&act=" + act,
                type: "GET",
                dataType: "json",
                beforeSend: function () {

                },
                success: function (data) {
                    console.log(data);
                    $('#get-cart').html('');
                    data.forEach(function (item, index) {
                        let row = `<tr class="cart__product">
                                                <td class="cart__product-item">
                                                    <div class="cart__product-remove">
                                                        <i class="fa fa-close" onclick="changeQuantity('${item.name}','remove')" style="cursor:pointer"></i>
                                                    </div>
                                                    <div class="cart__product-img">
                                                        <img src="${item.image}" alt="product" />
                                                    </div>
                                                    <div class="cart__product-title">
                                                        <h6>${item.name}</h6>
                                                    </div>
                                                </td>
                                                <td class="cart__product-price">$ ${item.productPrice}</td>
                                                <td class="cart__product-quantity">
                                                    <div class="product-quantity">
                                                        <div class="quantity__input-wrap">
                                                            <a class="dec qtybtn" onclick="changeQuantity('${item.name}','dec')" style="cursor:pointer">-</a>
                                                            <input type="number" value="${item.quantity}" class="qty-input">
                                                            <a class="inc qtybtn" onclick="changeQuantity('${item.name}','inc')" style="cursor:pointer">+</a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="cart__product-total">$ ${item.totalPrice}</td>
                                            </tr>`;
                        $('#get-cart').append(row);
                    });
                    changeCartTotal();
                },
                error: function (error) {

                },
                complete: function () {

                }
            });
        }

        $(document).ready(loadCartProducts('', ''));

        function changeQuantity(productName, act) {
            loadCartProducts(productName, act);
        };

        function changeCartTotal() {
            $.ajax({
                url: "/cart/GetCartTotal?accId=" + @ViewBag.accId,
                type: "GET",
                dataType: "json",
                beforeSend: function () {

                },
                success: function (data) {
                    $('#get-cart-total').html('');
                    $('#get-cart-total').append(`<li><span>Cart Subtotal: </span><span>$ ${data.objSubTotal}</span > </li>`);
                    $('#get-cart-total').append(`<li><span>Shipping: </span><span>Free Shipping</span> </li>`);
                    $('#get-cart-total').append(`<li> <span>Order Total: </span><span>$ ${data.objTotal}</span > </li>`);
                },
                error: function (error) {
                    console.log(error);
                },
                complete: function () {

                }
            });
        }

        function applyCoupon() {
            var discountName = $('#discount-name').val();
            $.ajax({
                url: "/cart/ApplyCoupon?discountName=" + discountName + "&accId=" + @ViewBag.accId,
                type: "GET",
                dataType: "json",
                beforeSend: function () {

                },
                success: function (data) {
                    $('#discount-codes').html('');
                    switch(data.status) {
                        case "no products":
                            $('#discount-codes').append(`<p style="color:red">There are no products in your cart!</p>`);
                            break;
                        case "error":
                            $('#discount-codes').append(`<p style="color:red">Discount code is not valid</p>`);
                            break;
                        case "discount used":
                            $('#discount-codes').append(`<p style="color:red">You have used this discount code!</p>`);
                            break;
                        case "discount typed":
                            $('#discount-codes').append(`<p style="color:red">You have typed in this discount code!</p>`);
                            break;
                        case "not enough value":
                            $('#discount-codes').append(`<p style="color:red">Your cart value is not high enough to use this code!</p>`);
                            break;
                        default:
                            $('#discount-codes').append(`<p style="color:green">Apply discount code successfully!</p>`);
                            changeCartTotal();
                            NumberOfTypedDiscountCodes();
                            break;
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                complete: function () {

                }
            });
        }

        function NumberOfTypedDiscountCodes() {
            $.ajax({
                url: "/cart/TypedDiscountCount?accId=" + @ViewBag.accId,
                type: "GET",
                dataType: "json",
                beforeSend: function () {

                },
                success: function (data) {
                    $('#discount-codes-number').html('');
                    $('#discount-codes-number').append(`
                        <div style="display:flex">
                            <p>${data} coupon(s) is being used.</p> <p style="color:#40A8D5;cursor:pointer" onclick="clearCoupons()"> Clear all</p>
                         </div`);
                },
                error: function (error) {
                    console.log(error);
                },
                complete: function () {

                }
            });
        }
        $(document).ready(NumberOfTypedDiscountCodes());
        $(document).ready(checkTempData());
        function checkTempData() {
            var tempData = "@ViewBag.productQuantityError";
            if (tempData != "") {
                alert(tempData);
            }
        }

        function clearCoupons() {
            $.ajax({
                url: "/cart/ClearTypedDiscount?accId=" + @ViewBag.accId,
                type: "GET",
                dataType: "json",
                beforeSend: function () {

                },
                success: function (data) {
                    if (data.status == "success") {
                        changeCartTotal();
                        NumberOfTypedDiscountCodes();
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                complete: function () {

                }
            });
        }
    </script>
}