@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Manage Products";
    var cnt = 1;
}

@model X.PagedList.IPagedList<ProductView>
@using Nhom7_N03_TrangWebQuanCafe.Models
@using X.PagedList.Mvc.Core

<p style="color:red">@TempData["error"]</p>
<h2 class="py-5">Products List</h2>
<div style="justify-content:space-between;display:flex;align-items:center">
    <form action="/Admin/Product/index" method="get" id="formSearch">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-inline mb-4" style="display:flex">
                    <input type="text" name="name" class="form-control" placeholder="Type name..." />
                    <button class="btn btn-primary ml-3">Search</button>
                </div>
            </div>
        </div>
    </form>
    <a href="/admin/product/addorupdate?page=@ViewBag.page" class="btn btn-primary" style="height:50%">Add New</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Categories</th>
            <th>Tasks</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>@cnt</td>
                <td>@item.ProductId</td>
                <td>
                    <img src="@item.Image" style="height:64px;width:64px"/>
                </td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Categories</td>
                <td>
                    <a href="/Admin/product/AddOrUpdate?id=@item.ProductId&page=@ViewBag.page" class="btn btn-warning" style="color: white">Edit</a>
                    <a href="/Admin/product/Delete?id=@item.ProductId&page=@ViewBag.page" class="btn btn-danger" style="color: white">Delete</a>
                </td>
            </tr>
            cnt++;
        }
    </tbody>
</table>

<div class="product__pagination">
    @Html.PagedListPager(Model,page => Url.Action("Index", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
    })
</div>



