@model X.PagedList.IPagedList<Product>
@using Nhom7_N03_TrangWebQuanCafe.Models
@using X.PagedList.Mvc.Core

<section id="page-title" class="page-title page-title-layout6 text-center bg-overlay bg-overlay-2 bg-parallax">
    <div class="bg-img"><img src="~/assets/images/backgrounds/14.jpg" alt="background"></div>
    <svg class="pagetitle__divider-shape" xmlns="http://www.w3.org/2000/svg" width="22" height="61"
         viewBox="0 0 22 61">
        <path d="M799,769h2v61h-2V769Zm8,24.8a0.969,0.969,0,0,0-1.911,0,3.012,3.012,0,0,1-.883,2.16,4.486,4.486,0,0,0,0,6.136,3.083,3.083,0,0,1,0,4.32,4.486,4.486,0,0,0,0,6.136,3.088,3.088,0,0,1,0,4.325,4.5,4.5,0,0,0,0,6.142,3.014,3.014,0,0,1,.884,2.163,0.969,0.969,0,0,0,1.911,0,4.414,4.414,0,0,0-1.213-3.07,3.091,3.091,0,0,1,0-4.328,4.491,4.491,0,0,0,0-6.14,3.08,3.08,0,0,1,0-4.319,4.488,4.488,0,0,0,0-6.137,3.081,3.081,0,0,1,0-4.32A4.407,4.407,0,0,0,807,793.8Zm0-20a0.969,0.969,0,0,0-1.911,0,3.014,3.014,0,0,1-.883,2.16,4.486,4.486,0,0,0,0,6.136,3.083,3.083,0,0,1,0,4.32,4.488,4.488,0,0,0,0,6.137,3.087,3.087,0,0,1,0,4.324,4.5,4.5,0,0,0,0,6.142,3.014,3.014,0,0,1,.884,2.163,0.969,0.969,0,0,0,1.911,0,4.414,4.414,0,0,0-1.213-3.07,3.089,3.089,0,0,1,0-4.327,4.491,4.491,0,0,0,0-6.14,3.081,3.081,0,0,1,0-4.32,4.488,4.488,0,0,0,0-6.137,3.081,3.081,0,0,1,0-4.32A4.409,4.409,0,0,0,807,773.8ZM793,793.8a0.969,0.969,0,0,1,1.911,0,3.012,3.012,0,0,0,.883,2.16,4.486,4.486,0,0,1,0,6.136,3.083,3.083,0,0,0,0,4.32,4.486,4.486,0,0,1,0,6.136,3.088,3.088,0,0,0,0,4.325,4.5,4.5,0,0,1,0,6.142,3.014,3.014,0,0,0-.884,2.163,0.969,0.969,0,0,1-1.911,0,4.414,4.414,0,0,1,1.213-3.07,3.091,3.091,0,0,0,0-4.328,4.491,4.491,0,0,1,0-6.14,3.08,3.08,0,0,0,0-4.319,4.488,4.488,0,0,1,0-6.137,3.081,3.081,0,0,0,0-4.32A4.407,4.407,0,0,1,793,793.8Zm0-20a0.969,0.969,0,0,1,1.911,0,3.014,3.014,0,0,0,.883,2.16,4.486,4.486,0,0,1,0,6.136,3.083,3.083,0,0,0,0,4.32,4.488,4.488,0,0,1,0,6.137,3.087,3.087,0,0,0,0,4.324,4.5,4.5,0,0,1,0,6.142,3.014,3.014,0,0,0-.884,2.163,0.969,0.969,0,0,1-1.911,0,4.414,4.414,0,0,1,1.213-3.07,3.089,3.089,0,0,0,0-4.327,4.491,4.491,0,0,1,0-6.14,3.081,3.081,0,0,0,0-4.32,4.488,4.488,0,0,1,0-6.137,3.081,3.081,0,0,0,0-4.32A4.409,4.409,0,0,1,793,773.8Zm-4,5.2h2v41h-2V779Zm20,0h2v41h-2V779Z"
              transform="translate(-789 -769)"></path>
    </svg>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <span class="pagetitle__subheading">Products</span>
                <h1 class="pagetitle__heading">Our Shop</h1>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.page-title -->
<!-- ========================
   shop Products
=========================== -->
<section id="shop3Products" class="shop shop-grid shop-grid-3col pb-90">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="filtering-options">
                            <div class="filter-option-sorting">
                                <div class="sort-box">
                                    <span>Sort By:</span>
                                    <div class="select-box">
                                        @{
                                            switch (ViewBag.sortId) {
                                                case 1:
                                                    <select id="select-sort" onchange="sortProducts()">
                                                        <option selected value="1">Newest</option>
                                                        <option value="2">Price Ascending</option>
                                                        <option value="3">Price Descending</option>
                                                        <option value="4">Name Ascending</option>
                                                    </select>
                                                    break;
                                                case 2:
                                                    <select id="select-sort" onchange="sortProducts()">
                                                        <option value="1">Newest</option>
                                                        <option selected value="2">Price Ascending</option>
                                                        <option value="3">Price Descending</option>
                                                        <option value="4">Name Ascending</option>
                                                    </select>
                                                    break;
                                                case 3:
                                                     <select id="select-sort" onchange="sortProducts()">
                                                         <option value="1">Newest</option>
                                                         <option value="2">Price Ascending</option>
                                                         <option selected value="3">Price Descending</option>
                                                         <option value="4">Name Ascending</option>
                                                     </select>
                                                    break;
                                                case 4:
                                                    <select id="select-sort" onchange="sortProducts()">
                                                        <option value="1">Newest</option>
                                                        <option value="2">Price Ascending</option>
                                                        <option value="3">Price Descending</option>
                                                        <option selected value="4">Name Ascending</option>
                                                    </select>
                                                    break;
                                                default:
                                                    <select id="select-sort" onchange="sortProducts()">
                                                        <option selected value="1">Newest</option>
                                                        <option value="2">Price Ascending</option>
                                                        <option value="3">Price Descending</option>
                                                        <option value="4">Name Ascending</option>
                                                    </select>
                                                    break;
                                            }
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="filter-option-view">
                                <span>View As:</span>
                                <a id="gridView" class="active" href="#"><i class="fa fa-th-large"></i></a>
                                <a id="listView" href="#"><i class="fa fa-th-list"></i></a>
                            </div><!-- /.filter-option-view -->
                        </div><!-- /.filtering-options -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="product-item">
                                <div class="product__img">
                                    <img src="@item.Image" alt="Product" style="width:250px; height:250px">
                                    <div class="product__hover">
                                        <div class="product__action">
                                            <button class="btn btn__primary btn__hover2" onclick="addToCart(@item.ProductId)">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__content">
                                    <h4 class="product__title"><a href="/shop/shopdetail?id=@item.ProductId">@item.Name</a></h4>
                                    <span class="product__price">$@item.Price</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="product__pagination">
                        @Html.PagedListPager(Model,page => Url.Action("Index", 
                            new {page=page, name=ViewBag.name, categoryId=ViewBag.categoryId, sortId=ViewBag.sortId,
                            minPrice=ViewBag.minPrice, maxPrice=ViewBag.maxPrice}),new X.PagedList.Web.Common.PagedListRenderOptions(){
                        LiElementClasses = new List<String> {"page-item"},
                        PageClasses = new List<String> {"page-link"}
                        })
                    </div>
                </div><!-- /.row -->
            </div><!-- /.col-lg-9 -->
            <div class="col-sm-12 col-md-12 col-lg-3">
                <aside class="sidebar sidebar-layou2">
                    <div class="widget widget-search">
                        <h5 class="widget__title">Search</h5>
                        <div class="widget__content">
                            <form action="/shop/index" method="get" class="widget__form-search">
                                <input type="text" class="form-control"  value="@ViewBag.name" name="name" placeholder="Type and hit enter ...">
                                <input type="hidden" class="form-control" value="@ViewBag.categoryId" name="categoryId">
                                <input type="hidden" class="form-control" value="@ViewBag.sortId" name="sortId">
                                <input type="hidden" class="form-control" value="@ViewBag.minPrice" name="minprice">
                                <input type="hidden" class="form-control" value="@ViewBag.maxPrice" name="maxprice">
                                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div><!-- /.widget-content -->
                    </div><!-- /.widget-search -->
                    <div class="widget widget-categories">
                        <h5 class="widget__title">categories</h5>
                        <div class="widget-content">
                            <ul class="list-unstyled mb-0" id="get-all-categories">
                                
                            </ul>
                        </div><!-- /.widget-content -->
                    </div><!-- /.widget-categories -->
                    <div class="widget widget-poducts" >
                        <h5 class="widget__title">New Products</h5>
                        <div class="widget__content" id="get-recent-products">
                            
                        </div><!-- /.widget-content -->
                    </div><!-- /.widget-poducts -->
                    <div class="widget widget-filter">
                        <h5 class="widget__title">Pricing Filter</h5>
                        <div class="widget__content">
                            <div id="rangeSlider"></div>
                            <div class="price-output">
                                <label for="rangeSliderResult">Price: </label>
                                <input type="text" id="rangeSliderResult" readonly>
                                <button class="btn btn__primary btn__link" onclick="filterByPrice()">Filter Now</button>
                            </div>
                        </div><!-- /.widget-content -->
                    </div><!-- /.widget-filter -->
                </aside><!-- /.sidebar -->
            </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.shop Products -->
@section Scripts{
    <script>
        $.ajax({
            url: "/shop/GetAllCategories",
            type: "GET",
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {
                console.log(data);
                $('#get-all-categories').html('');
                data.forEach(function (item, index) {
                    let row = `<li>
                                    <a href="/shop/index?name=@ViewBag.name&categoryId=${item.productCategoryId}&sortId=@ViewBag.sortId&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">
                                        ${item.name} <span>(${item.numberOfProducts})</span>
                                    </a>
                               </li>`;
                    $('#get-all-categories').append(row);
                });
                $('#get-all-categories').append(`<li><a href="/shop/index?name=@ViewBag.name&categoryId=0&sortId=@ViewBag.sortId&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">All</a></li>`);

            },
            error: function (error) {

            },
            complete: function () {

            }
        });

        $.ajax({
            url: "/shop/GetRecentProducts",
            type: "GET",
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {
                $('#get-recent-products').html('');
                data.forEach(function (item, index) {
                    let row = `<div class="widget-product-item">
                                    <div class="widget__product-img">
                                        <a href="/shop/shopdetail?id=${item.productId}"><img src="${item.image}" alt="product"></a>
                                    </div>
                                    <div class="widget__product-content">
                                        <h6 class="widget__product-title"><a href="/shop/shopdetail?id=${item.productId}">${item.name}</a></h6>
                                        <span class="widget__product-price">$ ${item.price}</span>
                                    </div>
                                </div>`;
                    $('#get-recent-products').append(row);
                });

            },
            error: function (error) {

            },
            complete: function () {

            }
        });

        var $rangeSlider = $("#rangeSlider"),
            $rangeSliderResult = $("#rangeSliderResult");
        $rangeSlider.slider({
            range: true,
            min: 10,
            max: 120,
            values: [@ViewBag.minPrice, @ViewBag.maxPrice],
            slide: function (event, ui) {
                $rangeSliderResult.val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $rangeSliderResult.val("$" + $rangeSlider.slider("values", 0) + " - $" + $rangeSlider.slider("values", 1));

        function filterByPrice() {
            var minPrice = $rangeSlider.slider("values", 0);
            var maxPrice = $rangeSlider.slider("values", 1);
            
            window.location.href = 
                "/shop/index?name=@ViewBag.name&categoryId=@ViewBag.categoryId&sortId=@ViewBag.sortId&minPrice=" + minPrice + "&maxPrice=" + maxPrice;
        }

        function sortProducts() {
            var selectedValue = $('#select-sort').find(":selected").val();
            window.location.href =
                "/shop/index?name=@ViewBag.name&categoryId=@ViewBag.categoryId&sortId=" + selectedValue + "&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice";
        }

        function addToCart(productId) {
            var accRole = "@ViewBag.accRole";
            if (accRole != 6) {
                alert("You must login as a user to continue!");
            }
            else {
                $.ajax({
                    url: "/shop/AddToCart?id=" + productId + "&buyQuantity=1",
                    type: "GET",
                    dataType: "json",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        if (data.result == "success") {
                            alert("Add product to cart successfully!");
                        }
                        else {
                            alert("This product has been sold out :(");
                        }
                    },
                    error: function (error) {

                    },
                    complete: function () {

                    }
                });
            }
        }
    </script>
}